<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <title>{{ page.title }}</title>
    <meta name="author" content="Yanik Magnan">
    <link href="/feed.xml" rel="alternate" title="Happy Monday System (RSS)" type="application/atom+xml">
    <link rel="stylesheet" href="/css/screen.css" media="screen">
  </head>
  <body>
    <div class="fourtone"><div class="a">&nbsp;</div><div class="b">&nbsp;</div><div class="c">&nbsp;</div><div class="d">&nbsp;</div></div>
    <div class="wrapper">
      <header>
        <a href="/">happy monday system</a>
      </header>
      {{ content }}
      <footer>
        <div class="about">
          a weekly blog by <a href="http://r-ch.net">Yanik Magnan</a>
        </div>
        <div class="sns">
          <a href="https://twitter.com/happymondaysys"><img src="/img/twitter.png" srcset="/img/twitter.png 1x, /img/twitter@2x.png 2x, /img/twitter@3x.png 3x"></a>
          <a href="/feed.xml"><img src="/img/rss.png" srcset="/img/rss.png 1x, /img/rss@2x.png 2x, /img/rss@3x.png 3x"></a>
        </div>
      </footer>
    </div>
  </body>
</html>